<p>Provide your GitHub username/organization and Repository to download time tracking content.</p>

<p> Example: StephenOTT/Test1 </p>
<form class="form-inline" role="form">
  <div class="form-group">
    <label class="sr-only" for="username">Username/Organization</label>
    <input type="text" class="form-control" id="username" placeholder="Username">
  </div>
  <div class="form-group">
    <label class="sr-only" for="repository">Repository</label>
    <input type="text" class="form-control" id="repository" placeholder="Repository">
  </div>
  <button type="submit" class="btn btn-primary">Run</button>
  <br>
  <div class="checkbox">
    <label>
      <input type="checkbox"> Clear Mongo Collection (Debug)
    </label>
  </div>
</form>
<a href="/download/StephenOTT/Test1">Download</a>

