<!DOCTYPE html>
<html>
  <head>
    <title>GitHub Time Tracking</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- <meta name="description" content="RubyLearning.org" /> -->
    <!-- <meta name="keywords" content="rubylearning,ruby,ruby programming,ruby course,sinatra course" /> -->
    <!-- <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" /> -->
    <!-- <link rel="icon" type="image/ico" href="/images/favicon.ico" /> -->
  </head>
  <body>
    <%= yield %>
  </body>
</html>